bootstrap.servers=cell-1.streaming.ap-seoul-1.oci.oraclecloud.com:9092
client.id=FlinkExampleProducer
sasl.mechanism=PLAIN
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username=\"cltonetiger2/oracleidentitycloudservice/donghu.kim@oracle.com/ocid1.streampool.oc1.ap-seoul-1.amaaaaaaamrxswyaae6jgjd6czstcn6whxfii24s4zdujslfzs3pn7duihlq\" password=\"I1heRQc;:RosymI[BP5z\";